[global_config]
  dbus = False
  extra_styling = False
  handle_size = 0
  inactive_color_offset = 0.9
  suppress_multiple_term_dialog = True
  title_hide_sizetext = True
  title_transmit_bg_color = "#9b6bdf"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    background_color = "#282936"
    background_darkness = 0.95
    background_type = transparent
    copy_on_selection = True
    cursor_color = "#f8f8f2"
    font = MesloLGSDZ Nerd Font Mono 14
    foreground_color = "#f8f8f2"
    icon_bell = False
    palette = "#000000:#FF5454:#50FA7B:#F1FA8C:#BD93F9:#FF79C6:#8BE8FD:#BFBFBF:#4D4D4D:#FF6E67:#5AF78D:#F4F99D:#CAA8FA:#FF92D0:#9AEDFE:#E6E6E6"
    use_system_font = False
  [[Dracula]]
    background_color = "#282936"
    background_darkness = 0.95
    background_type = transparent
    copy_on_selection = True
    cursor_color = "#f8f8f2"
    font = MesloLGSDZ Nerd Font Mono 14
    foreground_color = "#f8f8f2"
    icon_bell = False
    palette = "#000000:#FF5454:#50FA7B:#F1FA8C:#BD93F9:#FF79C6:#8BE8FD:#BFBFBF:#4D4D4D:#FF6E67:#5AF78D:#F4F99D:#CAA8FA:#FF92D0:#9AEDFE:#E6E6E6"
    use_system_font = False
  [[Dracula_nonstandard]]
    background_color = "#2e3436"
    background_darkness = 0.95
    background_type = transparent
    copy_on_selection = True
    cursor_color = "#f8f8f2"
    font = MesloLGSDZ Nerd Font Mono 14
    foreground_color = "#f8f8f2"
    icon_bell = False
    palette = "#262626:#ff4f4f:#42e66c:#e4f34a:#bd93f9:#ff77cf:#75d7ec:#efa554:#7a7a7a:#ff7b7b:#50fa7b:#f1fa8c:#cfabff:#f482ab:#8be9fd:#ffb86c"
    use_system_font = False
